
<div class="background1">

<div class="container login-inputs" style="text-align: center ;margin: auto">
    <h1 class="header">צור חשבון</h1>

    <div >
      <form [formGroup]="registerForm">
        <div class="form-group">
          <!-- <label>דוא"ל</label> -->
          <input type="email" placeholder=" דואר אלקטרוני" formControlName="email" class="form-control" style="text-align: center"> 
        </div>
        <div class="form-group">
          <!-- <label>סיסמא</label> -->
          <input type="password" placeholder="סיסמה" class="form-control" formControlName="password" style="text-align: center">
          <label class="error">{{errorMessage}}</label>
          <label class="success">{{successMessage}}</label>
        </div>
        <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-block btn-primary">הרשמה</button>
      </form>
    </div>
    <br/>
    <div >
        <button type="button" class="btn btn-primary btn-block" (click)="tryGoogleLogin()" style="background: #908aa6;border-color: #666e94" >
         
  
               <span> 
                  כניסה עם-Google
               </span>
               <img src="../../../assets/icons8-google-48 (2).png" width="30">
          
          </button>
    </div>
  <!-- <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-info btn-block" (click)="tryTwitterLogin()">Register with Twitter</button>
    </div>
  </div> -->

    <div >
      <p>כבר יש לך חשבון? <a href="/login">כניסה</a></p>
    </div>
</div>
  
</div>
