
<div   class="background1 ">
    <div class="container login-inputs" style="text-align: center ;margin: auto">
        <div style="text-align: center"></div>
        <form [formGroup]="loginForm">
            <div class="form-group">
              <!-- <label>דוא"ל</label> -->
              <input type="email" placeholder=" דואר אלקטרוני" formControlName="email" class="form-control" style="text-align: center">
            </div>
            <div class="form-group">
              <!-- <label>סיסמה</label> -->
              <input type="password"placeholder=" סיסמה" class="form-control" formControlName="password" style="text-align: center">
              <label class="error">{{errorMessage}}</label>
            </div>
            <!-- <button type="submit" class="btn btn-primary btn-block"(click)="tryLogin(loginForm.value)" class="btn btn-default">כניסה</button> -->
          </form>
          <button  type="button" class="btn btn-primary btn-block" (click)="tryLogin(loginForm.value)" >כניסה</button>
          <br>
      <button type="button" class="btn btn-primary btn-block" (click)="tryGoogleLogin()" style="background: #908aa6;border-color: #666e94" >
        <span> 
            כניסה עם-Google
         </span>
         <img src="../../../assets/icons8-google-48 (2).png" width="30">
        
        
        </button>
        <p>אין עדיין חשבון? <a href="/register">צור חשבון</a></p>
  
</div>
</div>

