<div>
<h2 class="hello">שלום {{this.teacher.FirstName}}</h2>

<h4 class="hello">ברוכה הבאה למערכת {{this.teacher.OrganizationName}}</h4>
 <my-calandar></my-calandar>
<button type="button" (click)="editConstraint()"  pButton icon="pi pi-info-circle" label="עדכון אילוצים" ></button>
<table>
    <tr *ngFor="let i of teacherSchedule">
         <!-- {{i.DayName}} -->
        <td>
            <!-- {{i.ClassName}} -->
        </td>
    </tr>
    
</table>
</div>