<div class="main-div">
  <mat-toolbar color="primary" class="my-toolbar" style="top:0%" >
    <img style="width: 200px; position: absolute;
  left:   40%; top: -5%" src="../assets/images/Logo1.png">
    <mat-toolbar-row>

      <span class="example-spacer"></span>
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <div *ngIf="isLogin != null">
          
          <button mat-button routerLink="/search" routerLinkActive="active"> חיפוש מילוי מקום</button>
          <button mat-button routerLink="/exchange" routerLinkActive="active"> צפיה בבקשות החלפה </button>
          <button mat-button routerLink="/edit-constraint" routerLinkActive="active"> עדכון אילוצים   </button>
          <button mat-button routerLink="/home" routerLinkActive="active"> דף הבית </button>
        </div>
      </div>

      <div *ngIf="isLogin != null">
        <!--  -->
        <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
      </div>


      <button *ngIf="isLogin != null" mat-button [matMenuTriggerFor]="log" style="position: absolute;
          left: auto;">
        <img *ngIf='provider != "password"' style="width:  50px; border-radius:50%" src="{{profil}}">
        <img *ngIf='provider == "password"' style="width:  80px; 
                left: 0%;" src="../assets/user.gif">
      </button>
      <mat-menu #log="matMenu">
        <h5>{{name}}</h5>
        <button type="button" (click)="logout()" class="btn btn-link">התנתק</button>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu" >
    <button mat-button routerLink="/home" routerLinkActive="active" style="width: 100%!important;text-align: right!important"> דף הבית</button><br/>
    <button mat-button routerLink="/edit-constraint" routerLinkActive="active" style="width: 100%!important; text-align: right!important">   עדכון אילוצים</button><br/>
    <button mat-button routerLink="/search" routerLinkActive="active" style="width: 100%!important;text-align: right!important"> חיפוש מילוי מקום</button><br/>
    <button mat-button routerLink="/exchange" routerLinkActive="active" style="width: 100%!important;text-align: right!important">  צפיה בבקשות החלפה </button>

  </mat-menu>
  <main [ngClass]="{'background-div':isLogin}">
    <router-outlet></router-outlet>
  </main >
  <mat-toolbar class="my-toolbar" style="bottom: 0px;" >
    Sari & Nechami that's our preaty site
  </mat-toolbar>
</div>