// $icon-font-path: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/" !default;
// Include Bootstrap styles
// @import "~bootstrap-sass/assets/stylesheets/_bootstrap";
main{
  padding-top: 100px ;
  padding-bottom: 100px;
  text-align: center;
  direction: rtl;
  
  
}
.background-div{
  background-color: #ece9f9;
  border-radius: 5px;
  max-width: 80%;
  text-align: center;
  margin:10px auto;
}
.navImg{
    width: 150px;
}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .my-toolbar{ 
    background-color:#9d9ca1;
    position: fixed;
    z-index:999;
    height:85px;
   
  }
  .maim-div{
    min-height: 100vh;
    direction:rtl;
 }


 mat-menu button{
   width: 100%!important;
   
 }