/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/primeng/resources/themes/omega/theme.css';
// @import '~css-star-rating/scss/star-rating';
@import '~ngx-bar-rating/themes/br-default-theme' ;
@import '~ngx-bar-rating/themes/br-fontawesome-theme';
@import '~ngx-bar-rating/themes/br-fontawesome-o-theme';
@import '~ngx-bar-rating/themes/br-horizontal-theme';
@import '~ngx-bar-rating/themes/br-horizontal-theme';
@import '~ngx-bar-rating/themes/br-stars-theme';
@import '~ngx-bar-rating/themes/br-movie-theme';
@import '~ngx-bar-rating/themes/br-square-theme';
@import '~ngx-bar-rating/themes/br-bootstrap-theme';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
.div{
  
    position: fixed;
    text-align: rtl;
    text-align: center;
    left:15%;
    /* display: grid; */
    /* direction: rtl; */
  }